@import "vars";

.section-title {
  font-family: $secondary-font;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: $dark;
  text-align: center;
  padding: 28px 0 32px 0;
  position: relative;

  &::before {
    position: absolute;
    border-top: 3px solid $accent;
    content: "";
    left: 497px;
    right: 498px;
    top: 0;
    bottom: 0;
    min-width: 115px;
  }
  &::after {
    position: absolute;
    border-top: 3px solid $accent;
    content: "";
    left: 497px;
    right: 498px;
    bottom: 0;
    min-width: 115px;
  }
}
